@import 'base/_reset.scss';

html {
scroll-behaviour: smooth;
}

/* Var */

//$primary: #B2F0DA;
//$secondary: #F3F3F3;

$darkgray: #696969;

$green: #47AE4C;

$black: #000000;

$border: $black;

/* Breakpoints and Touch */

$touch: pointer coarse, "no-query" ".touch";
$tab: 44em;
$tab-wide: 60em;
$desk: 1400px;
$desk-xl: 140em;


/* Font setup */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/* usage:@include font-size(2); */

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}
/*
Usage: @include font-size(2);
*/

/*
Weights - adjust to font
*/
// 100 - Thin
// 200 - ExtraLight (Inter)
// 300 - Light
// 400 - Regular
// 500 - Medium
// 600 - Semi bold (Inter)
// 700 - Bold
// 800 - Extra bold (Inter)
// 900 - Black / Heavy

/* Roboto */
@mixin Roboto($weight){
  font-family: Roboto, sans-serif;
  font-weight: $weight;
  font-style: normal;
}

/* Inter */

@mixin Inter($weight){
  font-family: Inter, sans-serif;
  font-weight: $weight;
  font-style: normal;
}
/*
Usage: @include family(300);
*/

/* Other */

@mixin transition($speed){
    transition: all ease $speed;
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
    clear: both;
    }
}

/* Base */

html{
  font-size: 14px;

  @media (min-width: $tab){    
    font-size: 16px;
  }
}

/* Other */

body{
  margin: 0;
  @include Roboto(300);
  @include font-size(20px);
  color: $darkgray;
  /*counter-reset: section;*/
}

h1, h2, h3, h4, p, a{
  margin-top: 0;
}

h1{
  @include font-size(52px);
  font-weight: 700;
  margin-bottom: 50px;
  color: $darkgray;
}

h2{
  @include font-size(42px);
  font-weight: 600;
  margin-bottom: 40px;
  color: $darkgray;
}

h3{
  @include font-size(30px);
  font-weight: 100;
  margin-bottom: 40px;
  color: $darkgray;
}

h4{
  @include font-size(20px);
  font-weight: 600;
  margin-bottom: 40px;
  color: $darkgray;
}

a{
  color:$darkgray;
  &:hover{
    text-decoration: underline;
  }
  &.margin-top{
  margin-top:10px;
  }
}

p{
  margin-bottom: 30px;
  @include font-size(20px);
  color: $darkgray;
  &.large{
    @include font-size(24px);
  }
}

hr{
  width: 100%;
  border: none;
  background: white;
  height: 1px;
}

strong, b{
  font-weight: 600;
}

.ta{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: left;
  }
  &-center{
    text-align: left;
  }
}

img{
  width: 100%;
  height: auto;
}

/* Interactive */

.button{
  background: $green;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 15px;
  text-decoration: none;
  color: $darkgray;
  box-shadow: none;
  border-radius: 0;
  border: none;
  margin: 0;
  float: none;
  font-size: 15px;
  @extend .radius;
  @include transition(0.2s);
  &:hover{
    text-decoration: none;
    opacity: 0.5;
    border-bottom: 0;
  }
  &.icon{
    padding-left: 55px;
  }
  &.padlock{
    background-image:url(../images/icons/icon-padlock.svg);
    background-repeat: no-repeat;
    background-position: 20px 50%;
  }
  &.outline{
    background: white;
    border: 1px solid $darkgray;
  }
  &.rounded{
    border-radius: 10px;
  }
}

.radius{
  border-radius: 10px;
}

/* Base Form */

.form-row{
  margin-bottom: 20px;
  input[type="text"], input[type="email"], input[type="number"], input[type="password"]{
    display: block;
    width: 100%;
    padding: 8px 10px;
  }
  input[type="submit"]{
    margin-top: 30px;
  }
}

/* Layout */

.inner{
  width: 100%;
  margin: 0 auto;
  @media (min-width: $desk){
    max-width: 1920px;
    padding-left: 18px;
    padding-right: 18px;
    &-1400{
      max-width: 1400px;
    }
    &-1200{
      max-width: 1200px;
    }
    &-1000{
      max-width: 1000px;
    }
    &-800{
      max-width: 800px;
    }
    &-500{
      max-width: 500px;
    }
  }
}

/* Flex classes */

.flex{
  @media (min-width: $tab){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &.a-center{
      align-items: center;
    }
    &.a-stretch{
      align-items: stretch;
    }
    &.a-end{
      align-items: flex-end;
    }
    &.jc-center{
      justify-content: center;
    }
    &.jc-space{
      justify-content: center;
    }
    &.jc-start{
      justify-content: flex-start;
    }
  }
  &-mob{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &.a-center{
      align-items: center;
    }
    &.a-stretch{
      align-items: stretch;
    }
    &.jc-center{
      justify-content: center;
    }
    &.jc-start{
      justify-content: flex-start;
    }
  }
}

/* Base Cols */

.col{
  &-2{
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &-2-width-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }
  }
  &-2-linebreak{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 662px;
    width: 100%;
    margin: 20px auto;
    > *{
      margin-bottom: 30px;
      width: 100%;
      text-align: center;
    }
    h3{
      @include Roboto(300);
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      margin-bottom: 0;
    }
    p{
      font-size: 14px;
      color:white;
    }
    .social-links{
      a{
        margin-bottom: 5px;
        img{
          max-width: 30px;
          max-height: 30px;
        }
        &:last-child{
          margin-bottom: 0;
        }
        &:hover{
          text-decoration: none;
          opacity: 0.5;
        }
      }
    }
  }
  &-3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
      margin-bottom: 30px;
      width: 100%;
    }
  }
  &-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    > *{
      margin-bottom: 30px;
      width: 100%;
    }
  }
  @media (min-width: $tab-wide){
    &-2{
      > *{
        width: 48.333%;
        margin-bottom: 0;
      }
    }
  }
  @media (min-width: $tab-wide){
    &-2-width-2{
      > .col-left{
        width: 28.333%;
        margin-bottom: 0;
        text-align: inherit;
      }
      > .col-right{
        width: 68.333%;
      }
    }
  }
  @media (min-width: $tab-wide){
    &-2-linebreak{
      > .col-left{
        max-width: 385px;
        width: 100%;
        margin-bottom: 0;
        text-align: inherit;
      }
      > .breaker{
        width: 2px;
        border-right: 2px solid white;
        margin-bottom: 0;
      }
      > .col-right{
        text-align: left;
        max-width: 209px;
        width: 100%;
      }
    }
  }
  @media (min-width: $tab-wide){
    &-3{
      > *{
        max-width: 420px;
        width: 30%;
        margin-bottom: 0;
      }
      &:after{
        content:"";
        max-width: 420px;
        width: 30%;
        margin-bottom: 0;
      }
    }
  }
  &-4{
  > *{
      @media (min-width: $tab){
        width: 48.333%;
        //margin-bottom: 30px;
        //margin-right: 3.334%;
      }
      @media (min-width: $desk){
        //max-width: 320px;
        width: 22%;
        //margin-right: 2.857%;
      }
    }
    &.jc-center{
      > *{
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
  &-5{
  > *{
      @media (min-width: $tab){
        width: 48.333%;
        margin-bottom: 30px;
        margin-right: 3.334%;
      }
      @media (min-width: $desk){
        max-width: 320px;
        width: 17.857%;
        margin-right: 2.857%;
      }
      &:nth-child(2n){
        @media (min-width: $tab){
          margin-right: 0%;
        }
        @media (min-width: $desk){
          margin-right: 2.857%;
        }
      }
      &:nth-child(5n){
        @media (min-width: $desk){          
          margin-right: 0%;
        }
      }
    }
    &.jc-center{
      > *{
        margin-left: 20px;
        margin-right: 20px;
      }
    }
  }
}

.col-2-1{
  > *:first-child{
    @media (min-width: $tab-wide){
      max-width: 420px;
      width: 35%;
      margin-bottom: 0;
    }
  }
  > *:last-child{
    @media (min-width: $tab-wide){
      width: 61.3333%;
      margin-bottom: 0;
    }
  }
}

.with-aside{
  @extend .flex;
  .content-left{
    width: 100%;
    @media (min-width: $tab-wide){
      width: 62.5%;
    }
  }
  aside{
    width: 100%;
    @media (min-width: $tab-wide){
      width: 30.8333%;
    }
  }
}

/* Nav */

nav#main-nav{
  ul.main-menu{
    list-style-type: none;
    list-style: none;
    padding: 0;
    display: none;
    @media(min-width:$tab-wide){
      display: flex;
    }
    li{
      @include Roboto(300);
      font-size: 18px;
      list-style-type: none;
      list-style: none;
      position: relative;
      padding: 15px;
      a{
        text-align: center;
        text-transform: uppercase;
        @media(min-width:$tab-wide){
          text-align: left;
        }
        + ul{
          display: none;
        }
      }
      &:hover > a + ul{
        @media (min-width: $tab-wide){
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
        }
        a{
          display: block;
          width: 100%;
        }
      }
    }
  }
  .sub-nav{
    li{
      z-index: 10000;
      background-color: white;
      font-size: 13px !important;
    }
  }
  .contextual{
    top: 50px;
  }
}

/* Semi styled - Update per project */

/* Mobile nav */

.mob-init{
  display: block;
  width: 100%;
  margin: 20px 0 0 0;
  cursor: pointer;
  @media (min-width:$tab-wide){
    display: none;
  }
  > span{
    width: 100%;
    display: block;
    padding: 20px 0;
    &:before, span, &:after{
      content: "";
      display: block;
      height: 3px;
      background: $black;
      margin-bottom: 5px;
      width: 30px;
      margin: 0 auto 5px auto;
      @include transition(0.3s);
    }
    &:after{
      margin-bottom: 0;        
    }
  }
  &.active{
    > span{
      &:after{
        transform: rotate(45deg);
      }
      span{
        display: none;
      }
      &:before{
        transform: rotate(-45deg);
        margin-top: 8px;
        margin-bottom: -3px;
      }
    }
  }
}
select{
  border: solid 1px #808080;
  display: block;
  width: 100%;
  padding: 8px 10px;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(../images/icon/arrow.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) 50%;
  &::-ms-expand {
    display: none;
  }
  &:hover {
    border-color: #888;
  } 
  &:focus {
    border-color: #aaa;
    color: #222;
    outline: none;
  }
  option {
    color: white;
  }
}

.checkboxes{
  padding-top: 10px;
  .checkbox{
    width: 100%;
    margin-bottom: 20px;
  }
  input{
    display:none;
    + label{
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      &:before{
        content:"";
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 1px;
        border: 1px solid $border;
      }
    }
    &:checked + label{
      &:before{
        background:url(../images/icon/icon-tick.svg);
        background-repeat: no-repeat;
        background-position: 3px 3px;
      }
    }
  }
}

.radios{
  padding-top: 10px;
  .radio{
    width: 100%;
    margin-bottom: 20px;
  }
  input{
    display:none;
    + label{
      position: relative;
      padding-left: 40px;
      cursor: pointer;
      &:before{
        content:"";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100px;
        position: absolute;
        left: 0;
        top: 1px;
        border: 1px solid $border;
      }
    }
    &:checked + label{
      &:after{
        content:"";
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 100px;
        position: absolute;
        left: 5px;
        top: 6px;
        background: #F3F3F3;
      }
    }
  }
}

 /* BEGIN CUSTOM */

 //holding-page

  .logo{
    max-width: 700px;
    max-height: 117px;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    @media (max-width: $tab){
    max-width:90%;
    }
  }
  h3,p{
  text-align:center;
  }
  h3{
  margin-top:40px;
  @include font-size(38px);
  @include Roboto(300);
  }
  p{
  @include font-size(14px);
  }
  .social-links{
  justify-content:center;
  margin-bottom:40px;
  }

  section{
    &.holding{
    padding:300px 0 0 0;
    }
  }


  // Footer
footer{
  margin-top: 30px;
  margin-bottom: 30px;
  .social-links{
    margin-left:10px;
    display: flex;
    flex-wrap: wrap;
    &.holding{
    justify-content:center;
    }
    a{
      margin-right: 5px;
      width: 30px;
      height: 30px;
      &.facebook{
        background: url('../images/icons/facebook-logo.svg');
        background-size: 100%;
        &:hover{
          background: url('../images/icons/facebook-logo-dark.svg');
          background-size: 100%;
        }
      }
      &.twitter{
        background: url('../images/icons/twitter-logo.svg');
        background-size: 100%;
        &:hover{
          background: url('../images/icons/twitter-logo-dark.svg');
          background-size: 100%;
        }
      }
      &.instagram{
        background: url('../images/icons/instagram-logo.svg');
        background-size: 100%;
        &:hover{
          background: url('../images/icons/instagram-logo-dark.svg');
          background-size: 100%;
        }
      }
      &.linkedin{
        background: url('../images/icons/linkedin-logo.svg');
        background-size: 100%;
        &:hover{
          background: url('../images/icons/linkedin-logo-dark.svg');
          background-size: 100%;
        }
      }
      img{
        max-width: 30px;
        max-height: 30px;
      }
    }
    a:last-child{
      margin-right: 0;
    }
  }
  p{
    text-align: center;
  }
  nav li {
    margin-bottom: 10px;
    padding-top: 0;
    text-align: center;
  }
  nav li:last-child {
    border-right: none;
  }
  nav li a {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
  }
  @media (min-width: $tab-wide) {
    nav ul {
      display: flex;
      justify-content: center;
    }
    nav li {
      padding: 0 15px;
      margin-bottom: 0;
      border-right: solid 1px $darkgray;
      text-align: left;
    }
    nav li a {
      text-align: left;
    }
  }
}
